~*
*.Rhistory
*.pdf
*.docx
*.tiff
*.xlsx
/documentation
/case_study/R/graph
/case_study/R/Rlab_ISL
/case_study/R/data/archive
/case_study/R/data/rawData/archive
/case_study/R/data/preprocess
/case_study/R/data/analysis
/case_study/dem
/case_study/R/data/rawData/dem_srtm
case_study/R/R_diffStation/archive/
case_study/R/R_diffStation/self-explanatory/
*.png
*.tiff
*.rds
*.hdr
case_study/R/randomTest.R